@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {

    margin:0;
    padding:0;

}

body{

    height:100vh;
    box-sizing: border-box; 

}




main{


    display: flex;
    justify-content: center;
    align-items: center;
    

}


.navegador-lista{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
   

}

li {

    text-decoration: none;

}


.contenido {

    display: flex;

}

#contenido-principal{

    flex-direction: column;
    gap:1em;
    margin: 15%;

}

.contenido-principal-texto{

    font-family: "Krona One", sans-serif;
    font-size: 36px;
    /*margin-bottom: 1em;*/

}

.contenido-principal-parrafo{

    font-size: 24px;
    font-family: "Montserrat", sans-serif

}

#contenido-general{


    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    
    
}

main {

    background-color: #B82132;

}

strong{

    color: #F2B28C;

}

span{
    color: #22D4FD;
    border: 1px solid #22D4FD;
    padding: 10px;
}


p,h1 {

    color: aliceblue;

}


.contenido-principal-botones{

    display: flex;
    /*justify-content: center;*/

     /*NO PONEMOS EL JUSTIFY CONTENT CENTER PORQUE ESTE ES PAR ACUANDO ES EN UNA FILA, EL ALIGN ITEMS PARA COLUMNS*/
    align-items: center;
    flex-direction: column;
    gap: 1em;
}


.contenido-pnricipal-botones-boton{


    padding: 21.5px 0;
    border: 1px solid;
    border-color: #22D4FD;
    border-radius: 0.5em;
    width: 280px;
    text-align: center; /*TEXT ALIGN PARA ELEMENTOS, Y PARA ELEMENTOS DENTRO DE UN DIV SERÍA EL ALINT ITEMS*/
   

    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: black;
    text-decoration: none;



}




@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }


    #contenido-general{


        flex-direction: column;
        width: 100%;
    }
}